#rci_logo_section.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer {
    color: #505050;
    background-color: #f2f2f2;
    padding: 2em 0 5em 0;
    margin-top: 1em;
    font-size: 12px;
}

#footer a {
    color: #505050;
    font-weight: normal;
}

#siteheader {
    width: auto;
    padding: 0.2em;
    background-color: #004a96;
    margin: 0 0 20px 0;
}

#siteheader nav.navbar {
    margin: 0;
    min-height: 20px;
}

.navbar-brand,
#siteheader nav.navbar .nav > li > a {
    padding: 2px 10px;
}

.navbar-brand {
    height: 20px;
}

#navigation > nav {
    padding-bottom: 0;
    margin-bottom: 0;
}


.navbar-inverse {
    background-color: #004a96;
    border-color: #004a96;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #004a96;
}

.navbar-default .navbar-nav > li > a {
    color: #fff!important;
}

#navigation > nav a {
    color: white;
    padding: 5px;
    margin: 0 1em 0 0;
}

#main-nav.nav > li > a:hover {
    text-decoration: underline;
    background-color: transparent !important;
}

li a#dropdown-user {
    background-color: #EAF2F2;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
}

.alert-message {
    background-color: #EAF2F2;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: rela;
    right: 0;
    left: 0;
    z-index: 1030;

}
